In [26]:
import numpy as np
import pandas as pd
import os

In [33]:
os.chdir("//home//evcho//tusofia//programming_IOT//data")
day = pd.read_excel("day.xls", sheet_name="hipodruma", header=1, usecols="A:C", dtype={"O3": float, "PM10": float})
day.head()

         Date         O3        RM10
0  01.01.2012  46.447132   44.848259
1  02.01.2012  24.386621  164.782471
2  03.01.2012  23.249441  337.119385
3  04.01.2012  23.534016  465.039429
4  05.01.2012  14.516003  308.981110

In [34]:
hour = pd.read_excel("hour.xls", sheet_name="hipodruma", header=1, usecols="A,C:E,G:H", dtype={"NO": float, "NO2": float, "GSR": float, "Press": float, "UMR": float})
hour.head()

         Date    NO    NO2  AirTemp  Press   UMR
0  01.01.2012  3.48  21.09     -1.0  954.2  79.7
1  01.01.2012  1.18  16.05     -1.0  954.6  78.4
2  01.01.2012   NaN    NaN     -1.1  955.4  78.7
3  01.01.2012  0.45  13.89     -1.2  955.7  79.3
4  01.01.2012  0.37  15.44     -1.3  956.0  77.9